{% extends "blank.html" %}

{% block title %}
    Echarts-Example
{% endblock %}

{% block style %}
    <script src="/static/js/echarts.min.js"></script>
{% endblock %}

{% block label %}
    Echarts-Example
{% endblock %}

{% block content %}
    <div id="panel" style="height: 500px; width: 500px;"></div>
    <script>
        //初始化画布
        var myChart = echarts.init(document.getElementById("panel"));
        //定义选项参数
        options = {
            title: {
                text: "我的柱状图"
            },
            tooltip: {},
            legend: {
                data: ["学科"]
            },
            xAxis: {
                data: ["python", "php", "jave", "linux", "c++"]
            },
            yAxis: {},
            series: [
                {
                    name: "学科",
                    type: "bar",
                    data: [1, 4, 2, 5, 3]
                }
            ]
        };
        myChart.setOption(options)
    </script>
{% endblock %}
{#1、bar#}
{#    柱状图#}
{#2、line#}
{#    折线图#}
{#3、gauge#}
{#    仪表盘#}
{#4、pie#}
{#    饼状图#}
{#5、island#}
{#    孤岛图#}
{#6、funnel#}
{#    漏斗图#}
